.Button {
  @apply inline-flex items-center px-5;
  @apply text-brand-primary font-medium no-underline;
  @apply border border-brand-primary rounded-sm;
  height: 38px;
  padding-bottom: 2px;
}

.Button:focus,
.Button:active {
  outline: 0;
}

.Button:hover {
  box-shadow: theme(color.text-brand-primary) 0 0 0 1px;
}

.Button:focus {
  box-shadow: theme(color.text-brand-primary) 0 0 0 2px;
}
