/*

  Section spacers

*/

.Post + .Post,
.Section {
  padding-top: calc(theme(spacing.12) * var(--block-size-ratio));

}

.Section--footer {
  padding-top: calc(theme(spacing.20) * var(--block-size-ratio));
  padding-bottom: calc(theme(spacing.12) * var(--block-size-ratio));
}

.Section--rule {
  /* padding-top: calc(theme(spacing.8) * var(--block-size-ratio)); */
  margin-top: calc(theme(spacing.12) * var(--block-size-ratio));
  /* margin-bottom: calc(theme(spacing.4) * var(--block-size-ratio)); */
}

.Section-md {
  padding-top: calc(theme(spacing.8) * var(--block-size-ratio));
}

.Section-sm-b {
  margin-bottom: calc(theme(spacing.8) * var(--block-size-ratio));
}

/* SCALE */

:root {
  --block-size-ratio: theme(responsiveScale.blockXs);
}
@screen sm {
  :root {
    --block-size-ratio: theme(responsiveScale.blockSm);
  }
}
@screen md {
  :root {
    --block-size-ratio: theme(responsiveScale.blockMd);
  }
}
