body {
  @apply antialiased;
}

/*

  Headings

 */

.Markdown h1,
.Markdown h2,
.Markdown h3,
.Markdown h4,
.Title,
.Heading,
.Subheading,
.Metaheading {
  @apply font-serif font-bold;
  letter-spacing: -0.015em;
}

.Markdown h4,
.Metaheading {
  @apply text-base leading-snug;
}

.Markdown h3,
.Subheading {
  @apply text-lg leading-snug;
}

.Markdown h2,
.Heading {
  @apply text-3xl leading-snug;
}

.Markdown h1,
.Title {
  @apply text-4xl leading-tight;
}

/* Markdown theme */
.Markdown h2 {
  @apply pt-1 border-t border-gray-400;
}

/*

  Text & lower levels

*/

.Meta {
  @apply text-sm leading-snug;
}

.Meta-gray {
  @apply text-sm leading-snug text-gray-600;
}

/* Markdown theme */

.Markdown a {
  text-decoration: underline;
  text-decoration-line: underline;
}

.Markdown ul {
  list-style: disc;
  padding-left: theme(spacing.4);
}
