/*

  Text spacing

 */

/* :root {
  --s-heading: theme('spacing.6');
  --s-paragraph: theme('spacing.3');
  --s-blockquote: theme('spacing.3');
  --s-figure: theme('spacing.3');
  --s-button: theme('spacing.2');
} */

.Markdown p:not(:last-child),
.Markdown ul:not(:last-child),
.Markdown ol:not(:last-child),
.Markdown blockquote:not(:last-child),
.Markdown h1:not(:last-child),
.Markdown h2:not(:last-child),
.Markdown h3:not(:last-child),
.Markdown h4:not(:last-child),
.Markdown h6:not(:last-child),
* + .Button:not(:last-child),
.s-paragraph:not(:last-child),
.Heading:not(:last-child),
.Subtitle:not(:last-child),
.Title:not(:last-child),
.Supertitle:not(:last-child),
.Display:not(:last-child) {
  /* margin-bottom: var(--s-paragraph); */
  @apply mb-3;
}

.s-paragraphTop:not(:last-child) {
  @apply mt-3;
}

figure,
blockquote {
  @apply my-3;
}

/*

  Heading spacing

 */

.Markdown h1:not(:first-child),
.Markdown h2:not(:first-child),
.Markdown h3:not(:first-child),
.Markdown h4:not(:first-child),
.HeadingSpace:not(:first-child),
.s-heading:not(:first-child) {
  @apply mt-6;
}

.s-headingBottom:not(:first-child) {
  @apply mb-6;
}

/*

  Inline button spacing

 */

button + button,
.Button + .Button {
  @apply ml-2;
}
