/*

  Spacing between typographic elements.

  Meta spacing
  Need smaller spacing? Use mb-px or mb-1.
  It's ok that they're unresponsive b/c they're small enough.

*/

.s-block-m:not(:last-child),
.s-m {
  margin-bottom: calc(theme(spacing.2) * var(--space-ratio));
}
.st-m {
  margin-top: calc(theme(spacing.2) * var(--space-ratio));
}
.sy-m {
  margin-top: calc(theme(spacing.2) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.2) * var(--space-ratio));
}

/*

  Paragraph spacing

*/

.Subheading:not(:last-child),
.Heading:not(:last-child),
.Subtitle:not(:last-child),
.Title:not(:last-child),
.Supertitle:not(:last-child),
.Display:not(:last-child),
figure,
blockquote,
.s-block-p:not(:last-child),
.Markdown > *:not(:last-child),
.s-p {
  margin-bottom: calc(theme(spacing.2) * var(--space-ratio));
}
.st-p {
  margin-top: calc(theme(spacing.2) * var(--space-ratio));
}
.sy-p {
  margin-top: calc(theme(spacing.2) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.2) * var(--space-ratio));
}

/*

  Heading spacing

*/

.s-block-h:not(:last-child),
.s-h {
  margin-bottom: calc(theme(spacing.6) * var(--space-ratio));
}
.st-h {
  margin-top: calc(theme(spacing.6) * var(--space-ratio));
}
.sy-h {
  margin-top: calc(theme(spacing.6) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.6) * var(--space-ratio));
}

.s-2xh {
  margin-bottom: calc(theme(spacing.10) * var(--space-ratio));
}

/*

  Markdown heading spacing

 */

.Markdown h1:not(:first-child),
.Markdown h2:not(:first-child),
.Markdown h3:not(:first-child) {
  margin-top: calc(theme(spacing.8) * var(--space-ratio));
}

.Markdown h2 + h3 {
  margin-top: calc(theme(spacing.4) * var(--space-ratio)) !important;
}
