/*

  Text spacing

 */

/* :root {
  --s-heading: theme('spacing.6');
  --s-paragraph: theme('spacing.3');
  --s-blockquote: theme('spacing.3');
  --s-figure: theme('spacing.3');
  --s-button: theme('spacing.2');
} */

.Markdown p:not(:last-child),
.Markdown ul:not(:last-child),
.Markdown ol:not(:last-child),
.Markdown blockquote:not(:last-child),
.Markdown h1:not(:last-child),
.Markdown h2:not(:last-child),
.Markdown h3:not(:last-child),
.Markdown h4:not(:last-child),
.Markdown h5:not(:last-child),
.Markdown h6:not(:last-child),
* + .Button:not(:last-child),
.s-paragraph:not(:last-child) {
  @apply mb-3;
}

.Subheading:not(:last-child),
.Heading:not(:last-child),
.Subtitle:not(:last-child),
.Title:not(:last-child),
.Supertitle:not(:last-child),
.Display:not(:last-child) {
  @apply mb-2;
}

.st-paragraph {
  @apply mt-3;
}

.st-cta-button {
  @apply mt-4;
}

figure,
blockquote {
  @apply my-3;
}

@screen md {

}

/*

  Meta spacing

 */

/* .Meta:not(:last-child),
.Meta-gray:not(:last-child),
.Text--sm:not(:last-child), */
.s-meta {
  @apply mb-1;
}
.st-meta {
  @apply mt-1;
}

@screen md {
  /* .Meta:not(:last-child),
  .Meta-gray:not(:last-child),
  .Text--sm:not(:last-child), */
  .s-meta {
    @apply mb-2;
  }
  .st-meta {
    @apply mt-2;
  }
}

/*

  Heading spacing

 */

.Markdown h1:not(:first-child),
.Markdown h2:not(:first-child),
.s-heading:not(:first-child) {
  @apply mt-8;
}

.Markdown h3:not(:first-child) {
  @apply mt-4;
}

.sb-heading:not(:first-child) {
  @apply mb-6;
}

@screen sm {
  .Markdown h1:not(:first-child),
  .Markdown h2:not(:first-child),
  .s-heading:not(:first-child) {
    @apply mt-10;
  }

  .Markdown h3:not(:first-child) {
    @apply mt-6;
  }

  .sb-heading:not(:first-child) {
    @apply mb-8;
  }
}

/*

  Inline button spacing

 */

button + button,
.Button + .Button {
  @apply mt-2;
}

@screen sm {
  button + button,
  .Button + .Button {
    @apply mt-0 ml-3;
  }
}
